
  <nav class="fixed-top">
    <div class="logo">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="./../../../assets/img/1b37a31607ae30bf0fd3cf73f6009447.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <h2 class=" d-none d-md-block">To<span class="text-danger">Do</span></h2>
      </a>
    </div>
    <div class="d-flex justify-content-between w-100 ms-5">
      <button class="btn d-none d-sm-block colaps"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        <i class="bi bi-list"></i>
      </button>

      <div class="right">
        <div class="toggle ">
          <button class="btn  active " [class.active]="!isActive" (click)="mode(false)">
            <i class="bi bi-brightness-high-fill" ></i>
          </button>
          <button class="btn " [class.active]="isActive" (click)="mode(true)">
            <i class="bi bi-moon-fill"></i>
          </button>
        </div>
        <div class="user"></div>
      </div>
    </div>



  </nav>




